- if @client && @client.username
  .setup-status-ok
    %figure.instagram-preview
      %img{src: @client.media}
      %figcaption A recent post by @#{@client.username}

    .setup-status-detail
      - if check_starting_token and check_token_status
        %h2
          🎉 The token agent is set up and ready to provide tokens for
          %code @#{@client.username}.
      - else
        %h2
          ❌
          There was an error fetching the token.
          The response from Instagram is shown below:

        %pre.snippet
          %code= latest_instagram_response

        %form{action: '/refresh', method: 'post'}
          %button{type: 'submit'} Fetch now

  .usage
    %h3 Usage

    %p To use your token, paste the following snippet into your web page:

    %pre.snippet
      %code
        &= "<script src='https://#{request.host_with_port}/#{account}/token.js'></script>"

    %p
      Your API token will be available in a global constant called
      %code InstagramToken

    %p
      You can also access the token in JSON format at:
      %a{href: "#{request.host_with_port}/#{account}/token.json"} #{request.host_with_port}/#{account}/token.json


- else
  .setup-status-error
    %h2= "⚠️ The token agent isn't connected to the <i>#{account}</i> Instagram user account."
    %p.note Check your starting API token is valid.
